<!DOCTYPE html>
<html lang="en">
<head>
   <% include partials/head %>
   <title>Chat App</title>
</head>
<body class="sidebar-collapse">
    <% include partials/navbar %>
   <div class="wrapper">
        <%- body -%>
   </div>

    <% include partials/scripts %>
</body>
</html>